<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Портал ЭЦП Русагротранс</title>
    {% load staticfiles %}
    <link rel ="stylesheet" href="{% static 'css/bootstrap.min.css' %}" type="text/css">
</head>
<body style="background-image: url(https://i.pinimg.com/originals/6c/d9/ee/6cd9ee74e0fcda0e5a397ced517ecc5c.jpg)">
<div class="btn-group btn-group-toogle">
    <img src="https://www.rusagrotrans.ru/local/templates/main/images/logo_307x49.png">
            <a href="/" class="btn btn-primary">Главная Страница</a>
            <a href="//rat" class="btn btn-secondary">Портал Русагротранс</a>
            <a href="/login" class="btn btn btn-warning">Личный Кабинет</a>
            <a href="/about" class="btn btn-info">Узнать больше &raquo;</a>
            </div>
{% block content %}
{% endblock %}

</body>
</html>