<!DOCTYPE html>
<html lang="en" xmlns:background-color="http://www.w3.org/1999/xhtml">
<head>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}" type="text/css"/>
    <script type="text/javascript" src="{% static 'js/bootstrap.min.js' %}"></script>
    <link rel="stylesheet" href="{% static 'css/static.css' %}" type="text/css"/>
    <meta charset="UTF-8">
    <title style="font-family:Times New Roman;">IT Портал Русагротранс</title>
    <link style="weight:10px;height:10px" rel="shortcut icon" type="image/png" href="https://media.flaticon.com/dist/min/img/favicon.ico"/>



</head>
<!--START BODY--!>
<body>




<ul style="background: #171a1f">
    <li><a style="font-weight:bold;color:black;padding:9px 0px 0px 0px"  href="/"> <img src="https://www.rusagrotrans.ru/local/templates/main/images/logo_307x49.png"></a></li>
  <li><a style="margin:10px 5px 10px 10px;color:white;font-weight:bold;" href="/access_request/keys" class="btn btn-success"><img style="padding-bottom:0px;padding-right:5px;" weight="25" height="25" src="{% static 'images/white-usb-hi.png' %}">Ключи ЭП</a></li>
  <li><a style="margin:10px 5px 5px 0px;color:white;font-weight:bold;" href="//rat"  type="button" class="btn btn-success"><img style="padding-bottom:7px;padding-right:5px" weight="25" height="25" src="{% static 'images/icon_rat.png' %}">Портал Русагротранс</a></li>
  <li><a style="margin:10px 5px 5px 0px;color:white;font-weight:bold;" href="/access_request" type="button" class="btn btn-success"><img style="padding-bottom:0px;padding-right:5px" weight="25" height="25" src="{% static 'images/lock.png' %}">Запрос на доступ</a></li>
<li style="float:right;"><a style="margin:10px 5px 5px 0px;color:white;font-weight:bold;" href="/login" type="button" class="btn btn-success"><img style="padding-bottom:5px;padding-right:3px" weight="25" height="25" src="{% static 'images/male.png' %}">Войти в систему</a></li>
<li style="float:right;"><a style="margin:10px 5px 5px 0px;color:white;font-weight:bold;" href="/admin" type="button" class="btn btn-success"><img style="padding-bottom:5px;padding-right:3px" weight="25" height="25" src="{% static 'images/male.png' %}">ADMIN</a>

</ul>
<img style="vertical-align;height:10px;max-width:100%" SRC="{% static 'images/head_back.png'%}">


{% block content %}
{% endblock %}

<hr class="my-4">
<img style="vertical-align;height:10px;max-width:100%" SRC="{% static 'images/head_back.png'%}">
<p><b> Все права защищены Fokin@Lab 2020</b></p>
</body>
</html>

