{% extends "htmls_ECP/main_functional.html"%}
    {% block content %}
{% load static %}
<ul style="background:white;">
  <li>
    <button type="button" class="btn btn-default" aria-label="Left Align">
  <span class="glyphicon glyphicon-align-left" aria-hidden="true"></span>
</button>
  </li>
</ul>
<table class="table table-bordered" >
  <thead class="thead-dark">
    <tr>
      <th scope="col">№ Ключа</th>
        <th scope="col">Фото</th>
      <th  scope="col">Владелец</th>
      <th  scope="col">Дата выдачи</th>
      <th  scope="col">Дата окончания</th>
      <th  scope="col">Принадлежность к сервисам</th>
      <th  scope="col">Лицензия CSP</th>
      <th  scope="col">Лицензия TSP</th>
      <th  scope="col">Лицензия OCSP</th>
    </tr>
  </thead>
  <tbody>
  {% for keys in object_list %}
    <tr>
      <th scope="row">{{keys.id_key}}</th>
      <td></td>
      <td><a href="/access_request/account/{{keys.id}}"><b>{{keys.owner}}</b></a></td>
      <td><b>{{keys.date_create|date:"d.m.Y"}}</b></td>
      <td><b>{{keys.date_expired|date:"d.m.Y"}}</b></td>
      <td><b>{{keys.for_services.all|join:",  "}}</b></td>
      <td><b>{{keys.license_csp}}</b></td>
      <td><b>{{keys.license_tsp}}</b></td>
      <td><b>{{keys.license_ocsp}}</b></td>
    </tr>
  {% endfor %}
  </tbody>
</table>


    {% endblock %}
