{% extends "htmls_ECP/main_functional.html"%}
    {% block content %}
    {% load static%}
    <div class="container">
        <div class="jumbotron-minimal">
        {% for post in object_list %}
<a style="background-image:'/images/ava.png';font-weight:bold;"href="/access_request/{{post.id}}">
    <h4><img width="50" height="50" src="{% static '/images/it_news.png' %}">{{post.title}}</h4>
</a>
<h6 align="left">{{post.post|safe}}</h6>
<h6>{{post.date|date:"d.m.Y"}}</h6>

        {% endfor %}
    </div>
</div>
    {% endblock %}

